/* ShoppingCartButton.module.css */

.shopping-cart-icon-container {
  position: relative;
  transition: height 0.3s ease-in-out;
}

.shopping-cart-icon {
  cursor: pointer;
  font-size: 24px;
}

.shopping-cart-modal {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
  height: 100px; /* Default height */
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}

.big-cart .shopping-cart-modal {
  height: 500px; /* Expanded height when 'big-cart' class is applied */
  width: 930px;
}

.cart-items {
  margin-top: 10px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.purchase-button {
  background-color: #4caf50; /* Green color, adjust as needed */
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease-in-out;
}

.purchase-button:hover {
  background-color: #45a049; /* Darker shade on hover, adjust as needed */
}

.order-submitted-message {
  margin-top: 10px;
  padding: 10px;
  background-color: #4caf50; /* Green color, adjust as needed */
  color: #4caf50;
  text-align: center;
  border-radius: 4px;
}