.shopping-cart-icon-container {
    position: relative;
  }
  
  .shopping-cart-icon {
    cursor: pointer;
    font-size: 24px;
  }
  
  .shopping-cart-modal {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
    /* Add more styles as needed */
  }
  